<h1>Editing Job</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-md-1">
    <%= link_to 'Show', @job, class: "btn btn-default" %>
  </div>
  <div class="col-md-1">
    <%= link_to 'Back', jobs_path, class: "btn btn-default" %>
  </div>
</div>
